@charset "utf8";

.loader,
.loader:before,
.loader:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
}

.loader:before,
.loader:after {
  top: 50%;
  left: 50%;
}

.loader {
  z-index: 999;
  bottom: 0;
  width: 100%;
  height: 80px;
  &.fixed {
    position: fixed;
    top: 0;
    height: inherit;
    pointer-events: none;
    background-color: #dddddd1f;
  }
}

.loader:before,
.loader:after {
  content: "";
  border-radius: 50%;
  border: 2px solid #c3c3c3;
  border-top-color: #9c001f;
}

.loader:before {
  width: 50px;
  height: 50px;
  animation: loading 0.5s linear infinite;
}

.loader:after {
  width: 35px;
  height: 35px;
  animation: loading 0.5s linear infinite reverse;
}

@keyframes loading {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
