.ReactModal__Overlay {
  background-image: linear-gradient(to bottom right, $primary-gradient, $secondary-gradient) !important;
  overflow-y: scroll;
}

.modal {
  &--box {
    margin: 120px 3vh 5vh;
    border: 1px solid $primary;
    @media (min-width: $medium) {
      width: 700px;
      margin: 120px auto 5vh;
    }
  }
  &--wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $secondary-background;
    @media (min-width: $medium) {
      flex-flow: row wrap;
    }
  }
  &--image {
    position: relative;
    height: 260px;
    width: 230px;
    margin: 25px auto;
    border-radius: 5px;
    background-color: $tertiary-background;
    @media (min-width: $medium) {
      margin: 55px 5px 0 35px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 85%;
      margin: auto;
    }
  }
  &__cancel {
    position: absolute;
    right: 0;
    width: 35px;
    height: 35px;
  }
}

.details {
  margin: 5px 25px;
  @media (min-width: $medium) {
    width: 400px;
    margin: 55px 10px 15px;
  }
  & > div {
    padding: 10px 0;
  }
  span {
    color: $information-text;
  }
  &__name {
    margin: 0;
    font-size: $l-size;
    @media (min-width: $medium) {
      margin-bottom: 10px;
    }
  }
  &__tagline {
    color: $highlight;
  }
  &__scale {
    div {
      display: inline;
      margin-right: 20px;
    }
  }
  &__description {
    text-align: justify;
    font-size: $m-size;
    font-weight: 100;
    @media (min-width: $medium) {
      text-align: left;
    }
  }
  &__tips {
    text-align: left;
    font-weight: 100;
    span {
      display: block;
    }
  }
}

.other-beers {
  color: $information-text;
  @media (min-width: $medium) {
    flex-grow: 2;
  }
  span {
    display: block;
    margin-left: 25px;
    margin-bottom: 15px;
    font-weight: 100;
    @media (min-width: $medium) {
      margin-left: 35px;
    }
  }
  &__box {
    height: 100%;
    padding-top: 10px;
    text-align: center;
    transition: all 200ms ease-in;
    transform: scale(1);
    &:hover {
      z-index: 2;
      transition: all 200ms ease-in;
      transform: scale(1.05);
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    grid-column-gap: 5%;
    margin: 0 5% 7%;
    @media (min-width: $medium) {
      margin: 25px 35px 35px 35px;
    }
    a {
      border-radius: 5px;
      background: $tertiary-background;
      @media (min-width: $medium) {
      }
    }
  }
  &__image {
    height: 150px;
  }
  &__name {
    margin-top: 5px;
    font-weight: 900;
    font-size: $s-size;
    color: $small-text;
  }
}
