.beer {
  &__container {
    margin: 100px 10px 0;
    @media (min-width: $desktop) {
      margin: 100px 10vw 0;
    }
  }
  &__infinite-scroll {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 75px;
    justify-content: center;
  }
  &__item {
    display: grid;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 5px;
    place-items: center;
    text-align: center;
    border: 1px solid $primary-border;
    border-radius: 5px;
    background-color: $primary-background;
    transition: all 200ms ease-in;
    transform: scale(1);
    &:hover {
      z-index: 2;
      box-shadow: 0px 0px 30px #000000;
      transition: all 200ms ease-in;
      transform: scale(0.95);
    }
  }
  &-image {
    height: 200px;
  }
}

.infinite-scroll__end-info {
  position: absolute;
  bottom: 0;
  margin-top: 30px;
  text-align: center;
}

.error {
  padding: 100px 10px;
  color: $highlight;
  @media (min-width: $medium) {
    padding: 100px;
  }
}

.intro {
  &__header {
    width: 400px;
    margin: auto;
    text-align: center;
  }

  &__text {
    height: 290px;
    width: 450px;
    margin: auto;
    color: $primary;
    @media (min-width: $medium) {
      height: 210px;
      width: 650px;
      margin: auto;
      color: $primary;
    }
    &::before {
      content: "";
      display: block;
      float: left;
      width: 50%;
      height: 100%;
      shape-outside: polygon(0 0, 0 100%, 100% 100%);
    }

    p {
      height: inherit;
      text-align: center;
    }

    p:first-child::before {
      content: "";
      display: block;
      float: right;
      width: 50%;
      height: 100%;
      shape-outside: polygon(100% 0, 0 100%, 100% 100%);
    }
  }
}
