.footer {
  position: relative;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-size: $s-size;
  font-style: italic;
  font-weight: 100;
  text-transform: uppercase;
}