@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-found {
  height: 100vh;
  background: linear-gradient(0, $secondary-gradient, $primary-gradient);

  &__page {
    background-image: url("http://www.supah.it/dribbble/008/008.jpg");
    @include center;
    height: 600px;
    width: 90vw;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    @media (min-width: $medium) {
      width: 800px;
    }
  }
}

.content {
  text-align: center;
  padding-top: 50px;
  color: $secondary;
  @media (min-width: $medium) {
    padding-top: 118px;
  }

  h1 {
    font-weight: 900;
    font-size: 165px;
    line-height: 1;
    margin-bottom: -10px;
    opacity: 0.6;
  }

  h2 {
    font-weight: 700;
    font-size: $xl-size;
    margin-bottom: 6px;
    opacity: 0.9;
  }

  p {
    font-weight: 300;
    opacity: 0.7;
  }

  a {
    display: inline-block;
    font-weight: 300;
    font-size: $s-size;
    text-transform: uppercase;
    border: 1px solid $secondary;
    padding: 8px 14px;
    border-radius: 4px;
    opacity: 0.4;
    cursor: pointer;
  }
}

.not-found-image {
  display: none;
  @media (min-width: $medium) {
    display: unset;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    transform: scale(1.1);
  }
}
