html {
  font-size: 62.5%;

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
}

body {
  background-color: $secondary-gradient;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.3;
  color: $primary;
}

a {
  color: $primary;
  text-decoration: none;
}
