$primary: #fdf6ea;
$secondary: #cdd4de;
$primary-gradient: #c2d9fb;
$secondary-gradient: #202239;
$primary-background: #000;
$secondary-background: #272727;
$tertiary-background: #fffae1;
$information-text: #bfbfbf;
$small-text: #000;
$highlight: #e4ff00;
$primary-border: #00878ef5;
